h1 {
    text-align: center;
    color: #333;
}


.listconvocatorias {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
}

h2 {
    color: #007BFF;
}

button {
    background-color: #28A745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

#estado{
    color: orange;
}