h1 {
    text-align: center;
    color: #333; /* Color de texto gris oscuro */
}


.listconvocatorias {
    background-color: #fff; /* Fondo blanco para cada convocatoria */
    border: 1px solid #ddd; /* Borde delgado gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px;
    margin: 20px;
}

h2 {
    color: #007BFF; /* Color de texto azul */
}

button {
    background-color: #28A745; /* Color de fondo verde */
    color: #fff; /* Color de texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

hr {
    margin-top: 20px; /* Espaciado superior para la línea horizontal */
    margin-bottom: 20px; /* Espaciado inferior para la línea horizontal */
    border: 0;
    border-top: 1px solid #ddd; /* Línea horizontal delgada gris */
}