.footer {
    background-color: #4CAF50;  /* Verde oscuro */
    color: white;  /* Texto blanco */
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;  /* Cambia de 'top' a 'bottom' para posicionar en la parte inferior */
    width: 100%;
}

.footer a {
    color: white;  /* Enlaces en texto blanco */
    text-decoration: none;  /* Sin subrayado en los enlaces */
    margin: 0 10px;  /* Margen entre enlaces */
}

.footer a:hover {
    text-decoration: underline;  /* Subrayar enlaces al pasar el ratón sobre ellos */
}

/* Añade este estilo para el texto de derechos reservados */
.footer p {
    margin-top: 10px;
}