section {
    background-color: #4CAF50;
    color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 70px auto 0;
}

h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}